/*HEADER*/
header{
    display: flex;
    justify-content: space-around;
    background-color: #72C7D0;
}
header p {
    color: #233160;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

}
.botonAbout{
    background-color: #D7F2F2;
    width: 132px;
    height: 27px;
    border-radius: 8px;
    border: none;
    margin-top: 12px;

}
.botonAbout a{
    color: #233160;
    font-weight: 700;
    font-size: 16px;
}
/*SECTION*/
article{
    display: flex;
}

/*BARRA DE NAVEGACION*/
nav{
    background-color: #96C96A;
    width: 1440px;
    height: 71px;
    padding: 32px;

    
}
nav a{
    color:  #D5FAB6;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    
}
nav a:hover{
    color: #FFFFFF;
}

section{
    background-color:  #72C7D0;
    
}






/* Footer*/

footer {
    /* border: solid 1px  #FFFFFF;*/
    display: flex;
    background-color: #96C96A;
    justify-content: space-between;
    padding: 32px;

    height: 200px;
    width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
footer div li {
    display: block;
    list-style: none;
    justify-content: space-between;
}
.caja1 p:nth-child(1) {
    font-style: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}
.caja1 p:nth-child(2) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    color: #D5FAB6;
}
.caja2 p{
    font-style: 'Work Sans';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}
.caja2 li{
    font-style: 'Work Sans';
    font-weight: 500;
    font-size: 16px;
    display: grid;
}
.caja2 li a{
    color: #D5FAB6;
    line-height: 16px;
}
.caja2 li a:hover{
    color: #FFFFFF;
}
.caja3 p:nth-child(1) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}
.caja3 p:nth-child(2) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    color: #D5FAB6;
}
.visitamiLinkedin a {
    color: #D5FAB6;
}
.visitamiLinkedin a:hover {
    color: #FFFFFF;
}