/* Footer*/

footer {
    /* border: solid 1px  #FFFFFF;*/
    display: flex;
    background-color: #96C96A;
    justify-content: space-between;
    padding: 32px;

    height: 200px;
    width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    

}
a:hover {
    color: #FFB742;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
div{
  /*  border: solid 1px  #FFFFFF; */
}
footer div li {
    display: block;
    list-style: none;
    justify-content: space-between;
}
.caja1 p:nth-child(1) {
    font-style: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}
.caja1 p:nth-child(2) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    color: #D5FAB6;
}
.caja2 p{
    font-style: 'Work Sans';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;

}
.caja2 li{
    font-style: 'Work Sans';
    font-weight: 500;
    font-size: 16px;
    display: grid;
   }
.caja2 li a{
    color: #D5FAB6;
    line-height: 16px;
   }
.caja2 li a:hover{
    color: #FFFFFF;
    }
.caja3 p:nth-child(1) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;

    }
.caja3 p:nth-child(2) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    color: #7B7B7B;
    }
.enviarcorreo{
    position: absolute;
    border-radius: 32px;
    height: 36px;
    width: 36px;
    background-color: #FFB742;
    margin-top: 8px;
    margin-left: 16px;
    }
.enviarcorreo img{
    position: absolute;
    margin-top: 6px;
    margin-left: 4px;
}
.escribircorreo{
    border-radius: 49px;
    height: 20px;
    color: #b3adad;
    background-color: #bdc0c4;
    border-style: none;
    margin-top: 16px;
}
