@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Poppins:wght@100;200;400;500;600;700&family=Work+Sans:wght@500;700&display=swap');
* {
    margin: 0px;
    padding: 8px;
    box-sizing: content-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #212529;
    /* border: solid 1px rgb(223, 155, 65); */
    color: #FFFFFF;
    width: 1400px;
    }
button{
    background-color: #FFB742;
    border-radius: 50px;
    height: 54px;
    width: 121px;
    padding: 5px;
    border-style: none;
    font-weight: bold;
    justify-content: center;
    margin-top: 12px;
 }
button a {
    color: #212529;
}
button a:hover {
    color: #0b0d0f;
}
#nombreAmarillo {
    color: #FFB742;
    text-decoration: underline;
    display: inline;
    }
ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    } 
header {
    font-family: 'Poppins', sans-serif;
    /* border: solid 1px  #FFFFFF; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contenido*/

section {
    font-family: 'Inter', sans-serif;
   /* background:  #212529; */
    /* border: solid 1px  #FFFFFF; */
}
section span {
    display: flex;
    border-radius: 24px;
}
.parrafo1{
    font-weight: 700;
    font-size: 32px;
  }
.tituloprincipal {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;    
}
.parrafo3 {
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
}
.nombre {
    text-align: center;
}
nav {
   /* border: solid 1px  #FFFFFF; */
    }

.cajapp{
    display: flex; 
    justify-content: center;
    
    
   }
.cajagris {
    background: #292B2E;
    display: flex;
    margin: 20px;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    align-items: center;
    justify-content: center;
    
    }
.cajagris img:nth-child(1) {
    width: 64px;
    height: 64px;
    }
.vector {
    width: 10px;
    height: 10px;
}
.cajatexto {
    display: block;
    text-align: center;    
}
.cajatexto p:nth-child(1){
    color: #FFB742;
    font-size: 24px;
    font-weight: 700;
    line-height: 10px;
    }
.cajatexto p:nth-child(2){
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

/* Footer*/

footer {
    /* border: solid 1px  #FFFFFF;*/
    display: flex;
    justify-content: space-between;
}
a:hover {
    color: #FFB742;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
div{
  /*  border: solid 1px  #FFFFFF; */
}
footer div li {
    display: block;
    list-style: none;
    justify-content: space-between;
}
.caja1 p:nth-child(1) {
    font-style: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
}
.caja1 p:nth-child(2) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
}
.caja2 p{
    font-style: 'Work Sans';
    font-weight: 700;
    font-size: 20px;
}
.caja2 li{
    font-style: 'Work Sans';
    font-weight: 500;
    font-size: 16px;
    display: grid;
   }
.caja2 li a{
    color: #7B7B7B;
    line-height: 16px;
   }
.caja2 li a:hover{
    color: #FFB742;
    }
.caja3 p:nth-child(1) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    }
.caja3 p:nth-child(2) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    color: #7B7B7B;
    }
.enviarcorreo{
    position: absolute;
    border-radius: 32px;
    height: 28px;
    width: 28px;
    background-color: #FFB742;
    margin-top: 8px;
    margin-left: 16px;
    }
.enviarcorreo img{
    position: absolute;
    margin-top: -6px;
    margin-left: -7px;
}
.escribircorreo{
    border-radius: 49px;
    color: #7B7B7B;
    background-color: #0b0d0f;
    border-style: none;
    margin-top: 16px;
}

/* SECTION ABOUT*/

.sectionabout {
    display: flex;
    justify-content: center;
}
.whoim {
    color: #FFB742;
    background-color: #292B2E;
    border-radius: 16px;
    width: 148px;
    height: 32px;
    gap: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;  
    }
.aboutme {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
}
.perfilprofesional {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D4D4D4;
    width: 672PX;
}

/* EXPERIENCE*/

.whoim1 {
    color: #FFB742;
    background-color: #292B2E;
    border-radius: 16px;
    width: 148px;
    height: 32px;
    gap: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    align-content: center;  
    margin-left: 640px;
    }
.practicemakes {
    margin-left: 496px;
    padding: 24px;
    width: 494px;
    height: 49px;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
}
.experience {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cajaexperience {
    background-color: #FFFFFF;
    color: #0b0d0f;
    align-items: center;
    width: 380px;
    height: 480px;
    border-radius: 16px;    
    }
.titulocargo{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    width: 144px;
    height: 34px;
}
.tituloempresa {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    width: 117px;
    height: 48px;
    padding: 24px;
    margin-left: -16px;
}
.logoempresa{
    position: absolute;
    margin-top: -108px;
    margin-left: 240px;
}
.descripcioncargo{
    width: 304px;
    height: 350px;
    font-family: '¨Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}
.logoempresa{
    width: 100px;
    height: 100px;
    border-radius: 75px;
    background-color: #cccccc;
}

/* CONTACT */

.sectioncontact{
    padding: 12px;
    height: 1000px;
}
.contactme{
    color: #FFB742;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 1200;
    width: 150px;
    text-align: center;
    height: 30px;
    background-color: #292B2E;
    border-radius: 20px;
    margin-left: 640px;
}
.cajacontact{
    display: flex;
    justify-content: center;
    align-content: space-between;
    height: 350px;
    padding: 10px;
    
    /* background-color: aquamarine; */
    
}
.contact-send{
    background-color: #FFB742;
    border-radius: 50px;
    padding: 15px;
    border-style: none;
    font-style: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    color: #0b0d0f;
    margin-left: 680px;
    }
.sectioncontact a:hover{
    color: #0b0d0f;
    font-size: larger;
 }
.datoscontacto {
    width: 784px;
    height: 350px;
    justify-content: center;
    font-size: 32px;
    line-height: 100px;
    margin-top: 60px;
  }
 .datoscontacto p:nth-child(1) {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    width: 480px;
    height: 48px;
    line-height: 100px;
 }
 .datoscontacto p:nth-child(2) {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    width: 420px;
    height: 48px;
    line-height: 200px;
 }
 .datoscontacto p:nth-child(3) {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    width: 248px;
    height: 48px;
    line-height: 300px;
 }
.principalJokes{
    height: 450px;
}
.jokesbox {
    
    background-color: #FFFFFF;
    color: #0b0d0f;
    width: 300px;
    align-items: center;
    height: 200px;
    border-radius: 8px;   
    margin-left: 550px;
}
.textjokes{
    font-size: 15px;
}
.oneMore-send{
    background-color: #FFB742;
    border-radius: 50px;
    padding: 15px;
    border-style: none;
    font-style: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    color: #0b0d0f;
    margin-left: 650px;
    }
.infocontacto{
    display: flex;
    
    border-radius: 12px;
    height: 30px;
    width: 300px;
    color:#FFFFFF;
    margin-left: 250px;
    background-color: #292B2E;
    justify-content: space-between;
}

