@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Poppins:wght@100;200;400;500;600;700&family=Work+Sans:wght@500;700&display=swap');
* {
    margin: 0px;
    padding: 8px;
    box-sizing: content-box;
}
/* Light Mode */
 /* @media (prefers-color-scheme: light) { */
    .light-mode {
        background-color: #FFFFFF;
    }
    .light-mode header{
        background-color: #FFFFFF; 
        color: #212529  ;
    }
    .light-mode section{
        background-color: #FFFFFF ;
        color: #212529 ;
    }
    .light-mode .divTitulo{
        background-color: #FFFFFF ;
        color: #212529 ;
    }
    .light-mode section .container .swiper-slide {
        background-color:#cecece ;
    }
    .light-mode section .container .swiper-slide p{
        color:#FFFFFF ;
    }
    .light-mode section .experience .cajaexperience{
        background-color:#cecece ;
        color:#FFFFFF;
    }
    .light-mode header nav a{
        color: #212529 ;
    }
    .light-mode header nav a:hover{
        color:#FFB742 ;
    }
    .light-mode section .jokesbox{
        background-color:#cecece;
        color:#FFFFFF ;
    }
    .light-mode div div .cajatexto p:nth-child(2){
        color:#FFFFFF ;
    } 
    .light-mode .card-text p{
        color:#292B2E ;
    }
    .light-mode section .container .caja-invisible{
    background-color: #FFFFFF;
    }
    .light-mode footer {
        background-color: #cecece;
    }
    .light-mode footer .caja3 input{
        background-color: #FFB742;
    }
    
/* } */


/* Dark Mode  */
/* @media (prefers-color-scheme: dark) { */
    .dark-mode header{
        color: #FFFFFF !important ;
        background-color: #212529 !important;
    }
    .dark-mode section{
        color: #FFFFFF !important;
        background-color: #212529 !important;
    }
    .dark-mode .divTitulo{
        color: #FFFFFF !important;
        background-color: #212529 !important;
        
    }
    .dark-mode section .container .swiper-slide {
        color: #FFFFFF !important;
        background-color: #292B2E !important;
      }
    .dark-mode section .experience .cajaexperience{
        color:#212529 !important;
        background-color:#FFFFFF !important;
    }
    .dark-mode header nav a{
        color:#FFFFFF !important;
    }
    .dark-mode header nav a:hover{
        color:#FFB742 !important;
    }
    .dark-mode section .jokesbox{
        color:#212529 !important;
    }
    .dark-mode div div .cajatexto p:nth-child(2){
        color:FFFFFF !important;
    } 
    .dark-mode .card-text p{
        color: #FFFFFF !important;
    }
    .dark-mode section .container .caja-invisible{
        border: #FFB742;
        }
    
/* } */





body {
    font-family: 'Poppins', sans-serif;
    background: #212529;
    /* border: solid 1px rgb(223, 155, 65); */
    color: #FFFFFF;
    width: 1400px;
    }
button{
    background-color: #FFB742;
    border-radius: 50px;
    height: 54px;
    width: 121px;
    padding: 5px;
    border-style: none;
    font-weight: bold;
    justify-content: center;
    margin-top: 12px;
 }
button a {
    color: #212529;
}
button a:hover {
    color: #0b0d0f;
}
#nombreAmarillo {
    color: #FFB742;
    text-decoration: underline;
    display: inline;
    }
ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    } 
header {
    font-family: 'Poppins', sans-serif;
    /* border: solid 1px  #FFFFFF; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#change-mode{
cursor: pointer;

}

/* Contenido*/

section {
    
    font-family: 'Inter', sans-serif;
   /* background:  #212529; */
    /* border: solid 1px  #FFFFFF; */
}
section span {
    display: flex;
    border-radius: 24px;
}
.parrafo1{
    font-weight: 700;
    font-size: 32px;
  }
.tituloprincipal {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;    
}
.parrafo3 {
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
}
.nombre {
    text-align: center;
}
nav {
   /* border: solid 1px  #FFFFFF; */
    }

.cajapp{
    display: flex; 
    justify-content: center;
    
    
   }
.cajagris {
    background: #292B2E;
    display: flex;
    margin: 20px;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    align-items: center;
    justify-content: center;
    
    }
.cajagris img:nth-child(1) {
    width: 64px;
    height: 64px;
    }
.vector {
    width: 10px;
    height: 10px;
}
.cajatexto {
    display: block;
    text-align: center;    
}
.cajatexto p:nth-child(1){
    color: #FFB742;
    font-size: 24px;
    font-weight: 700;
    line-height: 10px;
    }
.cajatexto p:nth-child(2){
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

/* Footer*/

footer {
    /* border: solid 1px  #FFFFFF;*/
    display: flex;
    justify-content: space-between;
}
a:hover {
    color: #FFB742;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
div{
  /*  border: solid 1px  #FFFFFF; */
}
footer div li {
    display: block;
    list-style: none;
    justify-content: space-between;
}
.caja1 p:nth-child(1) {
    font-style: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
}
.caja1 p:nth-child(2) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
}
.caja2 p{
    font-style: 'Work Sans';
    font-weight: 700;
    font-size: 20px;
}
.caja2 li{
    font-style: 'Work Sans';
    font-weight: 500;
    font-size: 16px;
    display: grid;
   }
.caja2 li a{
    color: #7B7B7B;
    line-height: 16px;
   }
.caja2 li a:hover{
    color: #FFB742;
    }
.caja3 p:nth-child(1) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    }
.caja3 p:nth-child(2) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    color: #7B7B7B;
    }
.enviarcorreo{
    position: absolute;
    border-radius: 32px;
    height: 30px;
    width: 30px;
    background-color: #FFB742;
    margin-top: 16px;
    margin-left: 16px;
    }
.enviarcorreo img{
    position: absolute;
    margin-top: -8px;
    margin-left: -8px;
}
.escribircorreo{
    border-radius: 49px;
    height: 24px;
    background-color: #0b0d0f;
    border-style: none;
    margin-top: 16px;
}

/* SECTION ABOUT*/

.sectionabout {
    display: flex;
    justify-content: center;
}
.whoim {
    color: #FFB742;
    background-color: #292B2E;
    border-radius: 16px;
    width: 148px;
    height: 32px;
    gap: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;  
    }
.aboutme {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
}
.perfilprofesional {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D4D4D4;
    width: 672PX;
}

/* EXPERIENCE*/

.divTitulo{
    background-color: #212529;
    /* border: solid blue; */
}

.sectionexperience{
    font-family: 'Poppins', sans-serif;
    color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 100vh; 
    height: 1000px;
    width: 1385px;
    overflow: hidden;
    /* border: solid blue; */

          
}
.swiper-slide{
    margin: 12px;
    /* border: solid rgb(255, 0, 0); */

}
.container .swiper-container{
    width: 100%;
    height: 100%;
    /* border: solid blue; */

  }
.container{
    width: 100%;
    padding: 10px 40px;
    /* border: solid rgb(141, 146, 48); */
  }
  .swiper-container{
    /* border: solid rgb(255, 77, 0); */
    width: 1400px;
  }
  .swiper-container .swiper-wrapper{
    width: 1400px;
    /* border: solid rgb(60, 255, 0); */
  }
  .container .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    height: 800px;
    background-color: #292B2E;
    /* border: solid rgb(193, 134, 133); */
    border-radius: 15px;
    text-align: start;
    /* box-shadow: 0px 4px 4px rgba(207, 59, 59, 0.25); */
  }
  .container .swiper-slide img{
    margin-left: 20px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 600px;
    /* border: solid blue; */

  
  }
  .swiper-button-next{
    margin-right: 150px;  
    color: #FFB742 !important;
  }
  .swiper-button-prev{
      left: 26px !important;
      color: #FFB742 !important;
  }
  .card-title h4{
    color: #FFFFFF;
  }
  .card-title h4:nth-child(2) a{
     color:  #FFB742;
     text-decoration: none;
  }
  .card-title h4:nth-child(2) a:hover{
     color: #f9a318;
    
  }
  .card-text p a {
     text-decoration: none;
     color: #FFB742;
  }
  .card-text p a:hover {
    color: #f9a318;
}
body .card-text p{
    color: #FFFFFF;
}
.swiper-slide{
    background-color: #292B2E;
}










.whoim1 {
    color: #FFB742;
    background-color: #292B2E;
    border-radius: 16px;
    width: 148px;
    height: 32px;
    gap: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    align-content: center;  
    margin-left: 640px;
    }
.practicemakes {
    margin-left: 496px;
    padding: 24px;
    width: 494px;
    height: 49px;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
}
.experience {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cajaexperience {
    background-color: #FFFFFF;
    color: #0b0d0f;
    align-items: center;
    width: 380px;
    height: 500px;
    border-radius: 16px;    
    }
.titulocargo{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    width: 144px;
    height: 34px;
}
.tituloempresa {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    width: 117px;
    height: 48px;
    padding: 24px;
    margin-left: -16px;
}
.logoempresa{
    position: absolute;
    margin-top: -108px;
    margin-left: 240px;
    width: 100px;
    height: 100px;
    border-radius: 75px;
    background-color: #cccccc;
}
.descripcioncargo{
    width: 304px;
    height: 350px;
    font-family: '¨Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}

/* CONTACT */

.sectioncontact{
    padding: 12px;
    height: 1000px;
}
.contactme{
    color: #FFB742;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 1200;
    width: 150px;
    text-align: center;
    height: 30px;
    background-color: #292B2E;
    border-radius: 20px;
    margin-left: 640px;
}
.cajacontact{
    display: flex;
    justify-content: center;
    align-content: space-between;
    height: 350px;
    padding: 10px;
    
    /* background-color: aquamarine; */
    
}
.infocontacto{
    display: flex;
    
    border-radius: 12px;
    height: 30px;
    width: 300px;
    color:#FFFFFF;
    margin-left: 250px;
    background-color: #292B2E;
    justify-content: space-between;

}
.datoscontacto {
    width: 784px;
    height: 350px;
    justify-content: center;
    font-size: 32px;
    line-height: 100px;
  }
.contact-send{
    background-color: #FFB742;
    border-radius: 50px;
    padding: 15px;
    border-style: none;
    font-style: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    color: #0b0d0f;
    margin-left: 680px;
    }
.sectioncontact a:hover{
    color: #0b0d0f;
    font-size: larger;
 }

.principalJokes{
    height: 450px;
}
.jokesbox {
    
    background-color: #FFFFFF;
    color: #0b0d0f;
    width: 300px;
    height: auto;
    align-items: center;
    height: 200px;
    border-radius: 8px;   
    margin-left: 550px;
}
.textjokes{
    font-size: 12px;
}
.oneMore-send{
    background-color: #FFB742;
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    width: 100px;
    border-style: none;
    font-style: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    color: #0b0d0f;
    margin-left: 650px;
    margin-top: 10px ;
    }


